<div class="tc login-container">
    <mat-card>
        <h2>Employee Login</h2>
        <form class="form-fields" (ngSubmit)='formSubmit(f)' #f='ngForm'>
            <mat-form-field>
                <input matInput type='email' placeholder="Email" name='email' ngModel email required>
            </mat-form-field>
        
            <mat-form-field>
                <input matInput type="password" placeholder="Password" name='password' ngModel required>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]='f.invalid'>Submit</button>

        </form>
        <div class="tc">
                <button mat-button color="primary" type='button' routerLink='/register'>Register</button>
        </div>

    </mat-card>
</div>