.login-container {
  width: 40%;
  margin: auto;
  margin-top: 5%;
}
.form-fields {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .login-container {
    width: 80%;
  }
}
