<div class="tc login-container">
    <mat-card>
        <h2>Employee Login</h2>
        <form class="form-fields">
            <mat-form-field>
                <input matInput #input maxlength="10" placeholder="Email">
            </mat-form-field>
        
            <mat-form-field>
                <input matInput #input maxlength="10" placeholder="Password">
            </mat-form-field>
            <button mat-raised-button color="primary">Submit</button>

        </form>

    </mat-card>
</div>