.outer-serc{
    .inner{
        width: 50%;
        display: inline-block;
    }
    h4{
        margin-bottom:0px 
    }
}

.bold-txt{
    font-weight: bold
}
.address-fields{
    span{
        min-width: 120px;
        display: inline-block;
    }
}
.most-out{
    font-size: 16px;
}