<div class="tc regi-container">
    <mat-card>
        <h2>Register Employee</h2>
        <form class="form-fields">
            <div>
                <div style="width:50%;display:inline-block">
                    <mat-form-field>
                        <input matInput placeholder="First Name">
                    </mat-form-field>
                </div>
                <div style="width:50%;display:inline-block">
                    <mat-form-field>
                        <input matInput placeholder="Last Email">
                    </mat-form-field>
                </div>
            </div>


            <mat-form-field>
                <input matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Password">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Confirm Password">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Designation">
            </mat-form-field>
            <button mat-raised-button color="primary">Submit</button>

        </form>

    </mat-card>
</div>